---
title:  Helpers and Resources
layout: template-logo-medium
---

# <%= current_page.data.title %>

`middleman-targets` includes some helpers and some page resources that make
working with multiple targets easier. Most of them are demonstrated at [Simple
features demonstration](simple-demo.html).

<%= partial 'partials/helpers_extended' %>

<%= partial 'partials/helpers' %>


## Resources

Middleman’s resource list is available to all of your templates and pages, and
also available for your own helpers, and `middleman-targets` provides a couple
of resource map additions than can prove useful when developing your own
helpers.

<%= partial 'partials/resources' %>

* * *

### Example

The raw output of `<%%= current_page.valid_features %>` on this page is 
`<%= current_page.valid_features %>`. The output will be different if you switch
targets.


<% content_for :seeAlso do %>
<ul>
<li><a href="index.html">Welcome to middleman-targets</a></li>
<li><a href="simple-demo.html">Simple features demonstration</a></li>
<li><a href="build-serve-targets.html">Build and Serve different targets</a></li>
<li><a href="target-feature-config.html">Configuration</a></li>
<li><a href="frontmatter.html">Front Matter</a></li>
<li><a href="cli.html">Command Line Interface</a></li>
</ul>
<% end %>
